.input {
    padding: 15px;
    margin-left:500px ;
    margin-top: 22px;
    justify-content: space-around;
    width: 200px;
    align-items: center;
    background-color: azure;
    border-radius: 5px;
    color: #1a9404;
    font-weight: bold;
    height: 30px;
}

.boton {
    background-color:transparent;
    border: none;
    color: rgb(57, 178, 24);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: center;
    border-radius: 5px;
    font-size: medium;
    font: 100;
    font-family: fantasy;
    
} 

.boton:hover {
    box-shadow: inset 0 0 10px #39ff14;
    font-size: 20px;
  }