.Cartas {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


@media screen and (max-width: 600px) {
    .Cartas {
    
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

    }
    
    
  }